<div class="input-group">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default" aria-label="Bold">
            <span class="glyphicon glyphicon-bold"></span>
        </button>
        <button type="button" class="btn btn-default" aria-label="Italic">
            <span class="glyphicon glyphicon-italic"></span>
        </button>
    </div>
    <input class="form-control" aria-label="Text input with multiple buttons">
</div>

<div class="input-group">
    <input class="form-control" aria-label="Text input with multiple buttons">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default" aria-label="Help">
            <span class="glyphicon glyphicon-question-sign"></span>
        </button>
        <button type="button" class="btn btn-default">Action</button>
    </div>
</div>