<div class="dropup">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Dropup
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li>
            <a href="#">Ação</a>
        </li>
        <li>
            <a href="#">Outra ação</a>
        </li>
        <li>
            <a href="#">Algo mais aqui</a>
        </li>
        <li role="separator" class="divider"></li>
        <li>
            <a href="#">Link separado</a>
        </li>
    </ul>
</div>